Grup_ 8_Annonser/Grup_ 8_Annonser/Connected Services/ServiceReferenceAnnons/ServiceAnnons.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAnnons" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52167/ServiceAnnons.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52167/ServiceAnnons.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52167/ServiceAnnons.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Grup__8_Annonser" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAnnons_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceAnnons_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAnnons_ReadAnnons_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAnnons" />
  </wsdl:message>
  <wsdl:message name="IServiceAnnons_ReadAnnons_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAnnonsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAnnons_CreateAnnons_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnnons" />
  </wsdl:message>
  <wsdl:message name="IServiceAnnons_CreateAnnons_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAnnonsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAnnons">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAnnons/DoWork" message="tns:IServiceAnnons_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAnnons/DoWorkResponse" message="tns:IServiceAnnons_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAnnons">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAnnons/ReadAnnons" message="tns:IServiceAnnons_ReadAnnons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAnnons/ReadAnnonsResponse" message="tns:IServiceAnnons_ReadAnnons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAnnons">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAnnons/CreateAnnons" message="tns:IServiceAnnons_CreateAnnons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAnnons/CreateAnnonsResponse" message="tns:IServiceAnnons_CreateAnnons_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAnnons" type="tns:IServiceAnnons">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceAnnons/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAnnons">
      <soap:operation soapAction="http://tempuri.org/IServiceAnnons/ReadAnnons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAnnons">
      <soap:operation soapAction="http://tempuri.org/IServiceAnnons/CreateAnnons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAnnons">
    <wsdl:port name="BasicHttpBinding_IServiceAnnons" binding="tns:BasicHttpBinding_IServiceAnnons">
      <soap:address location="http://localhost:52167/ServiceAnnons.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>