Grup_ 8_Annonser/Grup_ 8_Annonser/Connected Services/ServiceReferenceAnnons/ServiceAnnons1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52167/ServiceAnnons.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Grup__8_Annonser" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAnnons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAnnonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Grup__8_Annonser" minOccurs="0" name="ReadAnnonsResult" nillable="true" type="q1:ArrayOfAnnonsKlass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAnnons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Resurs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HooverText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAnnonsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>