Grup_ 8_Annonser/Grup_ 8_Annonser/Connected Services/ServiceReferenceAnnons/ServiceAnnons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Grup__8_Annonser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Grup__8_Annonser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnnonsKlass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnnonsKlass" nillable="true" type="tns:AnnonsKlass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnnonsKlass" nillable="true" type="tns:ArrayOfAnnonsKlass" />
  <xs:complexType name="AnnonsKlass">
    <xs:sequence>
      <xs:element minOccurs="0" name="HooverText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resurs" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnnonsKlass" nillable="true" type="tns:AnnonsKlass" />
</xs:schema>