Grup_ 8_Annonser/Grup_ 8_Annonser/Connected Services/ServiceReferenceLogin/Loggin1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetLoginData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Anvandarnamn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Losenord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LogginCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoILive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoILiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoILiveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>